@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../fonts/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrThin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/HelveticaNeueCyrThin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url("../fonts/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeueCyrLight.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrLight.woff") format("woff"), url("../fonts/HelveticaNeueCyrLight.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrBlack';
  src: url("../fonts/HelveticaNeueCyrBlack.eot");
  src: url("../fonts/HelveticaNeueCyrBlack.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrBlack.woff") format("woff"), url("../fonts/HelveticaNeueCyrBlack.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url("../fonts/HelveticaNeueCyrBold.eot");
  src: url("../fonts/HelveticaNeueCyrBold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrBold.woff") format("woff"), url("../fonts/HelveticaNeueCyrBold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url("../fonts/HelveticaNeueCyrMedium.eot");
  src: url("../fonts/HelveticaNeueCyrMedium.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrMedium.woff") format("woff"), url("../fonts/HelveticaNeueCyrMedium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../fonts/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrThin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/HelveticaNeueCyrThin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin") format("svg"); }
* {
  padding: 0;
  margin: 0; }

html {
  margin-top: 0;
  padding-top: 0;
  height: 100%; }

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
  background-image: url("../img/background.svg");
  background-size: cover;
  min-height: 100%;
  font-family: "HelveticaNeueCyrMedium"; }

.contain {
  width: 1170px;
  padding: 0 15px;
  min-width: 1170px;
  position: relative;
  display: block;
  margin: 0 auto; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  text-transform: uppercase;
  color: #282828;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 15px; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.blue {
  background-color: #4385f1; }

.green {
  background-color: #86D14F; }

.yellow {
  background-color: #F0B017; }

.blue-text {
  color: #4385f1; }

.green-text {
  color: #86D14F; }

.yellow-text {
  color: #F0B017; }

.navigation {
  display: block;
  float: left;
  width: 100%;
  margin: 10px 0;
  background-color: #FFF;
  -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
  -moz-box-shadow: 0px 6px 10px -5px #7a807f;
  box-shadow: 0px 6px 10px -5px #7a807f;
  padding: 0; }
  .navigation ul {
    display: block;
    float: left;
    position: relative;
    list-style-type: dotted; }
    .navigation ul li {
      display: block;
      float: left;
      position: relative; }
      .navigation ul li a {
        display: block;
        position: relative;
        font-family: "HelveticaNeueCyrLight";
        text-align: center;
        text-decoration: none;
        color: #282828;
        font-size: 17px;
        padding: 10px 40px;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent; }
      .navigation ul li:hover {
        background-color: #749FEE; }
        .navigation ul li:hover a {
          color: #FFF; }
      .navigation ul li:hover > ul {
        display: block; }
      .navigation ul li:hover > div {
        display: block; }
    .navigation ul div {
      display: none; }
    .navigation ul ul {
      display: none;
      position: absolute;
      top: 69px;
      margin: 0;
      z-index: 9;
      left: 0;
      background-color: #749FEE;
      padding: 0 10px 15px 35px; }
      .navigation ul ul li {
        float: none;
        position: relative;
        display: list-item;
        position: relative;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;
        transition: all 0.7s linear;
        border-bottom: 1px solid #DFDFDF;
        list-style-type: disc;
        color: #FFF; }
        .navigation ul ul li a {
          color: #FFF;
          border-top: none;
          border-left: none;
          border-bottom: none;
          border-top: 1px solid #DFDFDF;
          text-align: left;
          padding: 10px 70px 10px 10px;
          display: block;
          width: 100%;
          border-left: none !important; }
          .navigation ul ul li a:hover {
            color: #FFD800; }
          .navigation ul ul li a:last-of-type {
            border-top: none; }
          .navigation ul ul li a:first-of-type {
            border-left: 1px solid #DFDFDF; }
        .navigation ul ul li:last-child {
          border-bottom: none; }
  .navigation__home {
    display: block;
    float: left;
    padding: 15px 40px;
    color: #749FEE;
    margin-left: 40px;
    font-size: 27px;
    line-height: 39px; }
  .navigation__item {
    border-left: 1px solid #DFDFDF; }
  .navigation--travel {
    display: none;
    position: absolute;
    top: 69px;
    left: -245px;
    margin: 0;
    z-index: 9;
    width: 1090px;
    background-color: #749FEE;
    padding: 10px 15px;
    display: block; }

.header {
  width: 100%;
  padding: 25px 0; }
  .header__topline {
    display: block;
    float: left;
    width: 100%;
    position: relative; }
    .header__topline--logo {
      display: block;
      float: left;
      position: relative;
      width: 165px;
      margin: 0 5px; }
    .header__topline--banner {
      display: block;
      float: left;
      position: relative;
      margin: 15px 5px 0;
      width: 753px;
      height: 128px;
      background-color: #1f73e5;
      line-height: 128px;
      color: #FFF;
      text-align: center;
      font-family: "HelveticaNeueCyrBold";
      font-size: 25px; }
    .header__topline--contacts {
      display: block;
      float: left;
      position: relative;
      width: 220px;
      margin: 0 5px;
      padding-top: 50px; }
      .header__topline--contacts h4 {
        font-family: "HelveticaNeueCyrBold";
        font-size: 23px;
        color: #161F5E; }

.slider {
  width: 895px;
  position: relative;
  float: left; }
  .slider .slider-thumb-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
    margin: 0; }
    .slider .slider-thumb-slider .slick-list.draggable {
      margin: 0 35px; }
    .slider .slider-thumb-slider .slick-current p {
      color: #FFF600; }
    .slider .slider-thumb-slider .slick-slider-item p {
      color: #FFF; }
    .slider .slider-thumb-slider .slick-current p {
      color: #FFF600; }
    .slider .slider-thumb-slider .slick-slider-item {
      outline: none;
      padding: 5px 0;
      text-align: center;
      border-right: 1px solid #fff; }
    .slider .slider-thumb-slider .slick-next:before {
      font-size: 15px;
      right: 5px; }
    .slider .slider-thumb-slider .slick-prev:before {
      font-size: 15px;
      left: 5px; }
  .slider .slider-item-slider .slick-next {
    width: 39px;
    height: 47px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1b61df;
    background-image: url("../img/right39.png");
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .slider .slider-item-slider .slick-next:before {
      content: ''; }
  .slider .slider-item-slider .slick-prev {
    background-image: url("../img/left39.png");
    background-color: #1b61df;
    background-position: 50% 50%;
    width: 39px;
    height: 47px;
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px;
    -ms-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1b61df;
    background-repeat: no-repeat; }
    .slider .slider-item-slider .slick-prev:before {
      content: ''; }
  .slider .slider-item-slider .slick-slider-item {
    position: relative; }
    .slider .slider-item-slider .slick-slider-item--description {
      position: absolute;
      top: 110px;
      left: 80px;
      width: 60%; }
      .slider .slider-item-slider .slick-slider-item--description h3 {
        font-family: "HelveticaNeueCyrBold";
        color: #0E2754;
        font-size: 34px; }
      .slider .slider-item-slider .slick-slider-item--description p {
        font-size: 21px;
        color: #0E2754;
        margin: 15px 0; }
      .slider .slider-item-slider .slick-slider-item--description a {
        display: block;
        color: #353535;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        width: 267px;
        height: 40px;
        border: 1px solid #c6c6c6;
        -moz-border-radius: 2px / 2px 2px 2px 2px;
        -webkit-border-radius: 2px / 2px 2px 2px 2px;
        border-radius: 2px / 2px 2px 2px 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #efefef;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjFiMWIxIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgo8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI2OSIgaGVpZ2h0PSI0MiIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(bottom, rgba(177, 177, 177, 0.4) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0.4) 100%);
        background-image: -o-linear-gradient(bottom, rgba(177, 177, 177, 0.4) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0.4) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(177, 177, 177, 0.4) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0.4) 100%);
        background-image: linear-gradient(bottom, rgba(177, 177, 177, 0.4) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0.4) 100%); }
        .slider .slider-item-slider .slick-slider-item--description a:hover {
          background-color: #d5d5d5; }

.afterslide {
  width: 275px;
  display: block;
  float: left;
  position: relative; }
  .afterslide--but {
    height: 78px;
    width: 162px;
    line-height: 78px;
    font-size: 0;
    display: block;
    float: right;
    color: #FFF;
    margin: 10px 39px 10px 0;
    background: #29c4f3;
    background: -moz-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #29c4f3), color-stop(24%, #1bbcf1), color-stop(69%, #00a0e4), color-stop(100%, #0095da));
    background: -webkit-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
    background: -o-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
    background: -ms-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
    background: linear-gradient(to bottom, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c4f3', endColorstr='#0095da', GradientType=0 );
    position: relative;
    z-index: 9; }
    .afterslide--but:hover {
      background: #2e64f3; }
      .afterslide--but:hover:before, .afterslide--but:hover:after {
        background: #2e64f3; }
    .afterslide--but:before, .afterslide--but:after {
      content: "";
      width: 78px;
      height: 78px;
      top: 0;
      display: block;
      position: absolute;
      z-index: -1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: #29c4f3;
      background: -moz-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #29c4f3), color-stop(24%, #1bbcf1), color-stop(69%, #00a0e4), color-stop(100%, #0095da));
      background: -webkit-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
      background: -o-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
      background: -ms-linear-gradient(top, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
      background: linear-gradient(to bottom, #29c4f3 0%, #1bbcf1 24%, #00a0e4 69%, #0095da 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c4f3', endColorstr='#0095da', GradientType=0 ); }
    .afterslide--but:before {
      left: -39px; }
    .afterslide--but:after {
      right: -39px; }
    .afterslide--but i {
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      float: left;
      width: 90px;
      height: 98px;
      position: absolute;
      top: -12px;
      left: -35px; }
    .afterslide--but i.but--group {
      background-image: url("../img/but_1.png"); }
    .afterslide--but i.but--individual {
      background-image: url("../img/but1.png"); }
    .afterslide--but i.but--rus {
      background-image: url("../img/but3.png"); }
    .afterslide--but i.but--request {
      background-image: url("../img/but4.png"); }
    .afterslide--but span {
      color: #FFF;
      display: inline-block;
      float: left;
      line-height: normal;
      vertical-align: middle;
      font-size: medium;
      margin: 20px 0 0 50px; }

.travel-type {
  display: block;
  float: left;
  position: relative;
  margin: 45px 0;
  width: 895px; }
  .travel-type__item {
    width: 248px;
    height: 268px;
    margin-right: 50px;
    margin-bottom: 15px;
    display: block;
    float: left;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: 0 1px 0 #d3d3d3;
    -webkit-box-shadow: 0 1px 0 #d3d3d3;
    box-shadow: 0 1px 0 #d3d3d3;
    overflow: hidden; }
    .travel-type__item--img {
      display: block;
      height: 160px;
      width: 100%;
      overflow: hidden; }
      .travel-type__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .travel-type__item--description {
      text-align: center;
      padding: 20px;
      display: block; }
      .travel-type__item--description:before, .travel-type__item--description:after {
        display: table;
        content: " "; }
      .travel-type__item--description:after {
        clear: both; }
      .travel-type__item--description h4 {
        font-family: "HelveticaNeueCyrBold";
        font-size: 18px;
        color: #4F4F4F;
        margin-bottom: 5px; }
      .travel-type__item--description p {
        font-size: 10px;
        color: #646464; }

.home-banner {
  display: block;
  float: right;
  width: 247px;
  height: 554px;
  background-color: #1f73e5;
  margin: 45px 0;
  position: relative; }
  .home-banner img {
    width: 100%;
    height: 100%; }

.whyarewe {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 80px 40px 40px;
  background-color: #FFF;
  margin: 25px 0;
  -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
  -moz-box-shadow: 0px 6px 10px -5px #7a807f;
  box-shadow: 0px 6px 10px -5px #7a807f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .whyarewe:before, .whyarewe:after {
    display: table;
    content: " "; }
  .whyarewe:after {
    clear: both; }
  .whyarewe h2 {
    font-family: "HelveticaNeueCyrBold";
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px; }
  .whyarewe__item {
    display: block;
    float: left;
    width: 33.33333%;
    position: relative;
    padding: 0 25px;
    margin: 25px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .whyarewe__item:before, .whyarewe__item:after {
      display: table;
      content: " "; }
    .whyarewe__item:after {
      clear: both; }
    .whyarewe__item p {
      font-family: "HelveticaNeueCyrLight";
      text-align: center;
      font-size: 16px;
      color: #4F4F4F; }
    .whyarewe__item .choice {
      width: 94px;
      height: 94px;
      -moz-border-radius: 47px;
      -webkit-border-radius: 47px;
      border-radius: 47px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: block;
      margin: 25px auto;
      background-image: url("../img/choice.png");
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .whyarewe__item h4 {
      text-align: center;
      font-size: 21px;
      font-family: "HelveticaNeueCyrMedium";
      margin: 25px 0; }

.news {
  display: block;
  float: left;
  position: relative;
  width: 715px;
  margin: 25px 0; }
  .news h3 {
    display: block;
    float: left;
    text-transform: uppercase;
    color: #282828;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 15px; }
  .news a.news--more {
    display: block;
    float: left;
    color: #4386F2;
    font-size: 16px;
    padding-top: 10px; }
    .news a.news--more:hover {
      color: #0f5dd9; }
  .news__item {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    padding: 25px;
    margin-bottom: 15px;
    background-color: #FFF;
    border-left: 4px solid #4386f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
    -moz-box-shadow: 0px 6px 10px -5px #7a807f;
    box-shadow: 0px 6px 10px -5px #7a807f; }
    .news__item:before, .news__item:after {
      display: table;
      content: " "; }
    .news__item:after {
      clear: both; }
    .news__item--img {
      display: block;
      float: left;
      margin: 0 25px 0 0;
      position: relative;
      width: 125px;
      height: 125px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #3b3b3b;
      overflow: hidden; }
      .news__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .news__item--description {
      display: block;
      float: left;
      position: relative;
      width: 505px; }
      .news__item--description h4 {
        color: #474747;
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px; }
      .news__item--description small {
        color: #8F8F8F;
        font-size: 10px;
        padding: 10px 20px 10px 0; }
      .news__item--description a {
        color: #4386F2;
        font-size: 10px;
        padding: 5px 20px;
        border-left: 1px solid #DFDFDF; }
        .news__item--description a:hover {
          color: #0f5dd9; }
      .news__item--description p {
        font-size: 14px;
        color: #707070;
        margin-top: 15px; }

.vk-container {
  display: block;
  float: right;
  background-color: #FFF;
  width: 363px;
  height: 407px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 0;
  -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
  -moz-box-shadow: 0px 6px 10px -5px #7a807f;
  box-shadow: 0px 6px 10px -5px #7a807f; }
  .vk-container:before, .vk-container:after {
    display: table;
    content: " "; }
  .vk-container:after {
    clear: both; }
  .vk-container img {
    width: 100%;
    height: auto; }

.regions {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin: 25px 0; }
  .regions .map-space {
    width: 100%;
    height: 540px;
    -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
    -moz-box-shadow: 0px 6px 10px -5px #7a807f;
    box-shadow: 0px 6px 10px -5px #7a807f; }

.offers {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  margin: 25px 0; }
  .offers__item {
    display: block;
    float: left;
    position: relative;
    width: 359px;
    height: 333px;
    background-color: #fff;
    margin: 20px 0;
    -webkit-box-shadow: 0px 6px 10px -5px #7a807f;
    -moz-box-shadow: 0px 6px 10px -5px #7a807f;
    box-shadow: 0px 6px 10px -5px #7a807f; }
    .offers__item:nth-child(3n) {
      margin: 20px 45px; }
    .offers__item--img {
      display: block;
      position: relative;
      width: 100%;
      height: 180px;
      overflow: hidden;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .offers__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      .offers__item--img img {
        position: relative;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
    .offers__item--price {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.75);
      height: 63px;
      line-height: 63px;
      padding: 0 20px;
      text-align: center;
      color: #FFF; }
      .offers__item--price p {
        font-family: "HelveticaNeueCyrBold";
        font-size: 25px; }
    .offers__item--description {
      display: block;
      float: left;
      padding: 20px 25px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .offers__item--description:before, .offers__item--description:after {
        display: table;
        content: " "; }
      .offers__item--description:after {
        clear: both; }
      .offers__item--description small {
        display: block;
        margin: 15px 0;
        font-family: "HelveticaNeueCyrBold";
        color: #4386F2;
        font-size: 12px; }
      .offers__item--description p {
        margin: 0;
        color: #282828;
        font-size: 12px;
        font-family: "HelveticaNeueCyrBold"; }
    .offers__item--title {
      font-size: 17px;
      color: #282828;
      font-family: "HelveticaNeueCyrBold"; }
      .offers__item--title:hover {
        color: #F0B017; }
    .offers__item--category {
      font-size: 17px;
      color: #4386f2;
      font-family: "HelveticaNeueCyrBold"; }
      .offers__item--category:hover {
        text-decoration: underline; }
    .offers__item:hover .offers__item--price {
      display: block; }

.footer {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background-color: #222;
  padding: 50px 0 30px; }
  .footer h3 {
    color: #FFF;
    font-family: "HelveticaNeueCyrBold";
    padding-bottom: 25px;
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 25px; }
  .footer__regions {
    display: block;
    float: left;
    margin-right: 85px;
    color: #A7A7A7;
    padding-right: 50px; }
    .footer__regions h3 {
      padding-right: 80px; }
    .footer__regions li {
      padding: 5px 0; }
      .footer__regions li a {
        color: #a7a7a7; }
        .footer__regions li a:hover {
          text-decoration: underline; }
  .footer__sitemap {
    display: block;
    float: left;
    padding: 0 15px;
    margin-right: 0; }
    .footer__sitemap h3 {
      padding-right: 15px; }
    .footer__sitemap li {
      padding: 5px 0; }
      .footer__sitemap li a {
        color: #a7a7a7; }
        .footer__sitemap li a:hover {
          text-decoration: underline; }
  .footer__contacts {
    display: block;
    float: right;
    text-align: right; }
    .footer__contacts h3 {
      border-bottom: none; }
      .footer__contacts h3 span {
        border-bottom: 1px solid #a7a7a7;
        padding-bottom: 25px;
        padding-left: 150px;
        margin-bottom: 25px; }
    .footer__contacts p {
      margin: 0; }
      .footer__contacts p b {
        font-size: 21px;
        font-family: "HelveticaNeueCyrBold";
        color: #a7a7a7; }
    .footer__contacts .footer__contacts--title {
      font-size: 18px;
      color: #a7a7a7;
      margin-top: 30px;
      margin-bottom: 0; }
  .footer__support {
    padding-top: 25px;
    border-top: 1px solid #a7a7a7;
    padding-right: 180px;
    margin-top: 25px; }
    .footer__support a {
      text-align: left;
      color: #FFF;
      text-transform: uppercase;
      font-size: 18px; }
      .footer__support a:hover {
        text-decoration: underline; }

.footer__copyright {
  margin-top: 15px;
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #222;
  padding: 35px 0; }
  .footer__copyright p {
    display: block;
    float: left;
    font-size: 16px;
    color: #a7a7a7;
    margin: 0; }
  .footer__copyright a {
    display: block;
    float: right;
    font-size: 16px;
    color: #a7a7a7;
    margin: 0; }
    .footer__copyright a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
