.navigation {
	display: block;
	float: left;
	width: 100%;
	margin: 10px 0;
	background-color: #FFF;
	-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
	-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
	box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
	padding: 0;
	ul {		
		display: block;
		float: left;
		position: relative;
		list-style-type: dotted;
		li {
			display: block;
			float: left;
			position: relative;	
				
			a {
				display: block;
				position: relative;
				font-family: $l;
				text-align: center;
				text-decoration: none;
				color: #282828;
				font-size: 17px;
				padding: 10px 40px;					
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;			
					
			}
			
			&:hover {
				background-color: #749FEE;
				a {
					color: #FFF;
				}
			}
			&:hover > ul {
				display:block;
			}
			&:hover > div {
				display: block;
			}
		}
		div {
			display: none;
		}
		ul {
			display: none;
			position: absolute;
			top: 69px;
			margin: 0;
			z-index: 9;
			left: 0;			
			background-color: #749FEE;
			padding: 0 10px 15px 35px;
			li {
				float:none;
				position: relative;
				display:list-item;
				position: relative;				
				@include transition(.7s);				
				border-bottom: 1px solid #DFDFDF;
				list-style-type: disc;
				color: #FFF;
				a {
					color: #FFF;
					border-top: none;
					border-left: none;
					border-bottom: none;
					//border-bottom: 1px solid #DFDFDF;
					border-top: 1px solid #DFDFDF;
					text-align: left;
					padding: 10px 70px 10px 10px;
					display: block;
					width: 100%;
					border-left: none!important;
					&:hover {
						color: #FFD800;						
					}
					&:last-of-type {
						border-top: none;
					}
					&:first-of-type {
						border-left: 1px solid #DFDFDF;
					}
				
				}
				// &:before {
				// 	content: "";
				// 	display: block;
				// 	width: 5px;
				// 	height: 5px;
				// 	@include border-radius(50%);
				// 	background-color: #FFF;
				// 	position: absolute;
				// 	left: -10px;
				// 	top: 10px;
				// }
				&:last-child {
						border-bottom: none;
						// border-top: 1px solid #DFDFDF;
					}
			}
		}
	}
	&__home {
		display: block;
		float: left;
		padding: 15px 40px;
		color: #749FEE;
		margin-left: 40px;
		font-size: 27px;
		line-height: 39px;
	}
	&__item {
		border-left: 1px solid #DFDFDF;
	}
	&--travel {
		float: left;
		position: relative;			
		background-color: #749FEE;
		padding: 10px 25px;
		display: block;
		//width: 50%;
		@include inside-pad;
		&--select {
			display: block;
			//float: left;
			margin: 10px 0;
			//width: 40%;
			width: 250px;
			height: 27px;
			@include border-radius(3px);
			@include background-clip(padding-box);
			background-color: #fff;
			border:none;
			outline:none;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			background-image: url('../img/select-style.png');
			background-repeat: no-repeat;
			background-position: 95% 50%;
			padding-left: 15px;			
		}
		&--data {
			display: block;
			//float: left;
			margin: 10px 0;
		    //width: 37%;
		    width: 235px;
			height: 27px;
			@include border-radius(3px);
			@include background-clip(padding-box);
			background-color: #fff;
			border:none;
			outline:none;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			background-image: url('../img/select-style.png');
			background-repeat: no-repeat;
			background-position: 95% 50%;
			padding-left: 15px;
		}
		label {
			display: block;
			color: #FFF;
			font-size: 12px;
		}
		&--find {
			display: block;
			margin: 10px auto;
			width: 60px;
			height: 27px;
			@include border-radius(1px / 3px);
			@include background-clip(padding-box);
			background-color: #484848;
			@include box-shadow(1px, 2px, 3px, rgba(0,0,0,.28));
			cursor: pointer;
			color: #FFF;
			text-align: center;
			&:hover {
				background-color: lighten(#484848, 10%);
			}
		}
	}	
}