.slider {
	width: 895px;
	position: relative;
	float: left;
	.slider-nav {
		// .slick-slide {
		// 	width: auto!important;
		// 	padding: 0 15px;
		// }
		// .slick-track {
		// 	width: auto !important;
		// }
		// .slick-current {
		// 	outline: none;
		// 	p {
		// 		color: #FFF600;
		// 	}
		// }
	} 
}