.slider {
	width: 895px;
	position: relative;
	float: left;
	.slider-thumb-slider {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 5px 0;
		margin: 0;
		.slick-list.draggable{
			margin: 0 35px;
		}
		.slick-current {
			p {
				color: #FFF600;
			}
		}
		.slick-slider-item {
			p {
				color: #FFF;
			}
		}
		.slick-current {
			p {
				color: #FFF600;
			}
		}
		.slick-slider-item {
			outline: none;
			padding: 5px 0;
			text-align: center;
			border-right: 1px solid #fff;
		}

		.slick-next:before {
			font-size: 15px;
			right: 5px;
		}
		.slick-prev:before {
			font-size: 15px;
			left: 5px;
		}
	}
	.slider-item-slider {
		.slick-next{
			width: 39px;
			height: 47px;
			@include border-radius(4px 0 0 4px);
			@include background-clip(padding-box);
			background-color: #1b61df;
			background-image: url('../img/right39.png');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			&:before { 
				content: '';			
			}
		}
		.slick-prev{
			background-image: url('../img/left39.png');
			background-color: #1b61df;
			background-position: 50% 50%;
			width: 39px;
			height: 47px;
			@include border-radius(0 4px 4px);
			@include background-clip(padding-box);
			background-color: #1b61df;
			background-repeat: no-repeat;
			&:before {
				content: ''; 			
			}
		}
		.slick-slider-item {
			position: relative;
			&--description {
				position: absolute;
				top: 110px;
				left: 80px;
				width: 60%;
				h3 {
					font-family: $b;
					color: #0E2754;
					font-size: 34px;
				}
				p {
					font-size: 21px;
					color: #0E2754;
					margin: 15px 0;
				}
				a {
					display: block;
					color: #353535;
					font-size: 15px;
					line-height: 40px;
					text-align: center;
					width: 267px;
					height: 40px;
					border: 1px solid #c6c6c6;
					-moz-border-radius: 2px / 2px 2px 2px 2px;
					-webkit-border-radius: 2px / 2px 2px 2px 2px;
					border-radius: 2px / 2px 2px 2px 2px;
					-moz-background-clip: padding;
					-webkit-background-clip: padding-box;
					background-clip: padding-box;
					background-color: #efefef;
					-moz-box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjFiMWIxIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgo8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI2OSIgaGVpZ2h0PSI0MiIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
					background-image: -moz-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: -o-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: -webkit-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					&:hover {
						background-color: #d5d5d5;
					}
				}
			}
		}
	}
}

.afterslide {
	width: 1170px - 895px;
	display: block;
	float: left;
	position: relative;
	a {
		height: 78px;
		width: 240px;
		display: block;
		float: right;
	}
}

.travel-type {
    display: block;
    float: left;
    position: relative;
    margin: 45px 0;
    width: 895px;
	&__item {
		width: 248px;
		height: 268px;
		margin-right: 50px;
		margin-bottom: 15px;
		display: block;
		float: left;
		position: relative;
		background-color: #fff;
		-moz-box-shadow: 0 1px 0 #d3d3d3;
		-webkit-box-shadow: 0 1px 0 #d3d3d3;
		box-shadow: 0 1px 0 #d3d3d3;
		overflow: hidden;
		&--img {
			display: block;
			height: 160px;
			width: 100%;
			overflow: hidden;
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);			
			}
		}
		&--description {
			text-align: center;
			padding: 20px;
			display: block;
			&:before,
			&:after{		
				display: table;
					content: " ";
			}
			&:after{
				clear: both;
			}
			h4 {
				font-family: $b;
				font-size: 18px;
				color: #4F4F4F;
				margin-bottom: 5px;
			}
			p {
				font-size: 10px;
				color: #646464;
			}
		}

	}
}

.home-banner {
	display: block;
	float: left;	
	width: 247px;
	height: 554px;
	background-color: #1f73e5;
	margin: 45px 0;
	position: relative;
	img {
		width: 100%;
		height: 100%;
	}
}