.slider {
	width: 895px;
	position: relative;
	float: left;
	.slider-thumb-slider {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 5px 0;
		margin: 0;
		.slick-list.draggable{
			margin: 0 35px;
		}
		.slick-current {
			p {
				color: #FFF600;
			}
		}
		.slick-slider-item {
			p {
				color: #FFF;
			}
		}
		.slick-current {
			p {
				color: #FFF600;
			}
		}
		.slick-slider-item {
			outline: none;
			padding: 5px 0;
			text-align: center;
			border-right: 1px solid #fff;
		}

		.slick-next:before {
			font-size: 15px;
			right: 5px;
		}
		.slick-prev:before {
			font-size: 15px;
			left: 5px;
		}
	}
	.slider-item-slider {
		.slick-next{
			width: 39px;
			height: 47px;
			@include border-radius(4px 0 0 4px);
			@include background-clip(padding-box);
			background-color: #1b61df;
			background-image: url('../img/right39.png');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			&:before { 
				content: '';			
			}
		}
		.slick-prev{
			background-image: url('../img/left39.png');
			background-color: #1b61df;
			background-position: 50% 50%;
			width: 39px;
			height: 47px;
			@include border-radius(0 4px 4px);
			@include background-clip(padding-box);
			background-color: #1b61df;
			background-repeat: no-repeat;
			&:before {
				content: ''; 			
			}
		}
		.slick-slider-item {
			position: relative;
			&--description {
				position: absolute;
				top: 110px;
				left: 80px;
				width: 60%;
				h3 {
					font-family: $b;
					color: #0E2754;
					font-size: 34px;
				}
				p {
					font-size: 21px;
					color: #0E2754;
					margin: 15px 0;
				}
				a {
					display: block;
					color: #353535;
					font-size: 15px;
					line-height: 40px;
					text-align: center;
					width: 267px;
					height: 40px;
					border: 1px solid #c6c6c6;
					-moz-border-radius: 2px / 2px 2px 2px 2px;
					-webkit-border-radius: 2px / 2px 2px 2px 2px;
					border-radius: 2px / 2px 2px 2px 2px;
					-moz-background-clip: padding;
					-webkit-background-clip: padding-box;
					background-clip: padding-box;
					background-color: #efefef;
					-moz-box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.15);
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjFiMWIxIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgo8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI2OSIgaGVpZ2h0PSI0MiIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
					background-image: -moz-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: -o-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: -webkit-linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					background-image: linear-gradient(bottom, rgba(177,177,177,.4) 0%, rgba(0,0,0,.4) 25%, rgba(255,255,255,.4) 100%);
					&:hover {
						background-color: #d5d5d5;
					}
				}
			}
		}
	}
}

.afterslide {
	width: 1170px - 895px;
	display: block;
	float: left;
	position: relative;
	&--but {
		height: 78px;
		width: 162px;
		line-height: 78px;
		font-size: 0;		
		display: block;
		float: right;
		color: #FFF;
		margin: 10px 39px 10px 0;
		background: rgba(41,196,243,1);
		background: -moz-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,196,243,1)), color-stop(24%, rgba(27,188,241,1)), color-stop(69%, rgba(0,160,228,1)), color-stop(100%, rgba(0,149,218,1)));	
		background: -webkit-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
		background: -o-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);		
		background: -ms-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
		background: linear-gradient(to bottom, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c4f3', endColorstr='#0095da', GradientType=0 );		
		position: relative;
		z-index: 9;
		&:hover {
			background: lighten(#2960F3, 1%);
			&:before, &:after {
				background:  lighten(#2960F3, 1%);
			}
		}
		&:before, &:after {
			content: "";
			width: 78px;
			height: 78px;
			top: 0;
			display: block;
			position: absolute;
			z-index: -1;
			@include border-radius(50%);
			background: rgba(41,196,243,1);
			background: -moz-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,196,243,1)), color-stop(24%, rgba(27,188,241,1)), color-stop(69%, rgba(0,160,228,1)), color-stop(100%, rgba(0,149,218,1)));	
			background: -webkit-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
			background: -o-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);		
			background: -ms-linear-gradient(top, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
			background: linear-gradient(to bottom, rgba(41,196,243,1) 0%, rgba(27,188,241,1) 24%, rgba(0,160,228,1) 69%, rgba(0,149,218,1) 100%);	
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c4f3', endColorstr='#0095da', GradientType=0 );
		}
		&:before {
			left: -39px;
		}
		&:after {
			right: -39px;
		}
		i {			
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			float: left;
			width: 90px;
			height: 98px;
			position: absolute;
			top: -12px;
			left: -35px;
		}
		i.but--group {
			background-image: url('../img/but_1.png');
		}
		i.but--individual {
			background-image: url('../img/but1.png');
		}
		i.but--rus {
			background-image: url('../img/but3.png');
		}
		i.but--request {
			background-image: url('../img/but4.png');
		}

		span {
			color: #FFF;
			display: inline-block;
			float: left;
			line-height: normal;
			vertical-align: middle;
			font-size: medium;
			margin: 20px 0 0 50px;
		}
	}
}

.travel-type {
    display: block;
    float: left;
    position: relative;
    margin: 45px 0;
    width: 895px;
	&__item {
		width: 248px;
		height: 268px;
		margin-right: 50px;
		margin-bottom: 15px;
		display: block;
		float: left;
		position: relative;
		background-color: #fff;
		-moz-box-shadow: 0 1px 0 #d3d3d3;
		-webkit-box-shadow: 0 1px 0 #d3d3d3;
		box-shadow: 0 1px 0 #d3d3d3;
		overflow: hidden;
		&--img {
			display: block;
			height: 160px;
			width: 100%;
			overflow: hidden;
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);			
			}
		}
		&--description {
			text-align: center;
			padding: 20px;
			display: block;
			&:before,
			&:after{		
				display: table;
					content: " ";
			}
			&:after{
				clear: both;
			}
			h4 {
				font-family: $b;
				font-size: 18px;
				color: #4F4F4F;
				margin-bottom: 5px;
			}
			p {
				font-size: 10px;
				color: #646464;
			}
		}

	}
}

.home-banner {
	display: block;
	float: right;	
	width: 247px;
	height: 554px;
	background-color: #1f73e5;
	margin: 45px 0;
	position: relative;
	img {
		width: 100%;
		height: 100%;
	}
}

.whyarewe {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 80px 40px 40px;
	background-color: #FFF;
	margin: 25px 0;
	-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
	-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
	box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
	&:before,
	&:after{		
		display: table;
		content: " ";
	}
	&:after{
		clear: both;
	}
	h2 {
		font-family: $b;
		text-transform: uppercase;
		font-size: 30px;
		text-align: center;
		margin-bottom: 25px;
	}
	&__item {
		display: block;
		float: left;
		width: 1 / 3 * 100%;
		position: relative;
		padding: 0 25px;
		margin: 25px 0;	
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;	
		&:before,
		&:after{		
			display: table;
			content: " ";
		}
		&:after{
			clear: both;
		}
		p {
			font-family: $l;
			text-align: center;
			font-size: 16px;
			color: #4F4F4F;
		}
		.choice {
			width: 94px;
			height: 94px;
			-moz-border-radius: 47px;
			-webkit-border-radius: 47px;
			border-radius: 47px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			display: block;
			margin: 25px auto;		
			background-image: url('../img/choice.png');	
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		h4 {
			text-align: center;
			font-size: 21px;
			font-family: $m;
			margin: 25px 0;			
		}
	}
}

.news {
	display: block;
	float: left;
	position: relative;
	width: 715px;
	margin: 25px 0;
	h3 {
		display: block;
		float: left;
		text-transform: uppercase;
		color: #282828;
		font-size: 25px;
		margin-right: 20px;
		margin-bottom: 15px;
	}
	a.news--more {
		display: block;
		float: left;
		color: #4386F2;
		font-size: 16px;
		padding-top: 10px;
		&:hover {
			color: darken(#4386F2, 15%);
		}
	}
	&__item {
		display: block;
		float: left;
		width: 100%;
		position: relative;
		padding: 25px;
		margin-bottom: 15px;
		background-color: #FFF;
		border-left: 4px solid #4386f2;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;	
		-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
		-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
		box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
		&:before,
		&:after{		
			display: table;
			content: " ";
		}
		&:after{
			clear: both;
		}
		&--img {
			display: block;
			float: left;
			margin: 0 25px 0 0;
			position: relative;
			width: 125px;
			height: 125px;
			@include border-radius(50%);
			@include background-clip(padding-box);
			background-color: #3b3b3b;
			overflow: hidden;
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
		&--description {
			display: block;
			float: left;
			position: relative;			  
			width: 505px;
			h4 {
				color: #474747;
				font-size: 24px;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			small {
				color: #8F8F8F;
				font-size: 10px;
				padding: 10px 20px 10px 0;
			}
			a {
				color: #4386F2;
				font-size: 10px;
				padding: 5px 20px;
				border-left: 1px solid #DFDFDF;
				&:hover {
					color: darken(#4386F2, 15%);
				}
			}
			p {
				font-size: 14px;
				color: #707070;
				margin-top: 15px;
			}
		}
	}
}

.vk-container {
	display: block;
	float: right;
	background-color: #FFF;
	width: 363px;
	height: 407px;
	background-color: #fff;
	padding: 10px;
	position: relative;
	@include inside-pad;
	margin: 25px 0;
	-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
	-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
	box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
	img {
		width: 100%;
		height: auto;
	}
}

.regions {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin: 25px 0;
	.map-space {
		width: 100%;
		height: 540px;
		-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
		-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
		box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
	}
}

.offers {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	margin: 25px 0;
	&__item  {
		display: block;
		float: left;
		position: relative;
		width: 359px;
		height: 333px;
		background-color: #fff;
		margin: 20px 0;
		-webkit-box-shadow: 0px 6px 10px -5px rgba(122, 128, 127, 1);
		-moz-box-shadow:    0px 6px 10px -5px rgba(122, 128, 127, 1);
		box-shadow:         0px 6px 10px -5px rgba(122, 128, 127, 1);
		&:nth-child(3n) {
			margin: 20px 45px;
		}
		&--img {
			display: block;
			position: relative;
			width: 100%;
			height: 180px;
			@include overflow-img;
			-webkit-transition: 1s;
			   -moz-transition: 1s;
			    -ms-transition: 1s;
			     -o-transition: 1s;
			        transition: 1s;
			img {
				position: relative;
				@include transition(0.5s);
			}			
		}
		&--price {
			position: absolute;
			display: none;
			top: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .75);
			height: 63px;
			line-height: 63px;
			padding: 0 20px;
			text-align: center;
			color: #FFF; 
			p {
				font-family: $b;
				font-size: 25px;
			}
		}
		&--description {
			display: block;
			float: left;
			padding: 20px 25px;
			@include inside-pad;
			small {
				display: block;
				margin: 15px 0;
				font-family: $b;
				color: #4386F2;
				font-size: 12px;
			}
			p {
				margin: 0;
				color: #282828;
				font-size: 12px;
				font-family: $b;
			}
		}
		&--title {
			font-size: 17px;
			color: #282828;
			font-family: $b;
			&:hover {
				color: #F0B017;
			}
		}
		&--category {
			font-size: 17px;
			color: #4386f2;
			font-family: $b;
			&:hover {
				text-decoration: underline;
			}
		}
		&:hover {
			.offers__item--price {
				display: block;
			}
		}
	}
}